<div class="container">
  <div class="room-chat">

    <h2><%= @room.title %></h2>
    <div class="room-chat-header">
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "user-nickname" %>
        <%= link_to "#{@users.nickname}さん", user_path(@users.id), class: "user-nickname" %>
      <%= form_with model: [@room, @message], local: true do |form| %>
        <div class="room-chat-form">
          <%= form.text_field :content %>
          <%= form.submit 'しゃべってみる' %>
        </div>
      <% end %>
    </div>
    <%#amigo-space導入%>

    <% @messages.each do |message| %>
      <div class="room-chat-detail">
      <%= message.content %>
      </div>
    <% end %>

    <div class="return-btn">
      <%= link_to 'ルーム一覧に戻る', rooms_path, class:"room-index" %>
      <%= link_to 'メインチャットに戻る', chats_path, class:"r-mainchat" %>
    </div>

  </div>
</div>

<%= render "shared/footer" %>