<%= render "shared/footer" %>

<div class="container">
  <div class="account">
    <h2>アカウント管理</h2>
    
    <%= form_with model: current_user, local: true do |f|%>
    
        <div class="field">
          <%= f.label :ニックネーム, class:"nickname" %> <em>(半角30文字以内)</em><br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>
    
        <div class="field">
          <%= f.label :メールアドレス, class:"email" %><br />
          <%= f.email_field :email %>
        </div>
    
        <div class="field">
          <%= f.label :アバター, class:"avatar" %><br />
          <%= f.file_field :avatar %>
        </div>
    
        <div class='actions'>
          <%= f.submit "更新" %>
        </div>
    
    <% end %>
    
    <div class="r-mypage-btn">
      <%= link_to "マイページに戻る", user_path(current_user.id), class: 'mypage-btn'%>
    </div>
  </div>
</div>