<header class="header">
  <div class="logo">
    <%= link_to image_tag("amigo-logo.png", class:"amigo-logo"), "/" %>
  </div>
  <div class='introduce-nav'>
    <% if user_signed_in? %>
      <%= link_to "#{current_user.nickname}さんのマイページ", user_path(current_user.id), class: "mypage" %>
      <%= link_to 'メインチャットへ', chats_path, class: "to-main-chat" %>
      <%= link_to 'ルーム一覧', rooms_path, class:"myroom" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    <% else %>
      <%= link_to 'サインイン', new_user_registration_path, class: "sign-up" %>
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
    <% end %>
  </div>
</header>