<div class="container">
  <div class="main-chat">
      <h2>メインチャットへようこそ</h2>
        <div class="main-chat-header">
          <div class="user-name"><%= current_user.nickname %>さん</div>
          <div class="user-name">パンダさん</div>
            <%= form_with url: "/chats", method: :post, id: "form" do |form| %>
            <div class="main-chat-form">
              <%= form.text_field :content, id: "form_text"%>
              <%= form.submit 'しゃべってみる' , id: "submit" %>
            </div>
            <% end %>
        </div>
        <div id="contents_area">
        </div>

        <% @chats.each do |chat| %>
        <div class="main-chat-detail">
          <%= chat.content %>
        </div>
        <% end %>

      <footer class="main-chat-footer">
        <%= link_to 'ルームチャットをつくる？', new_room_path, class:"create-room" %>
      </footer>
  </div>
</div>