<div class="container">
<div class="main-chat">
  <h2>メインチャットへようこそ</h2>
    <div class="get-amigo-explain">
      <p>他のユーザーとおしゃべりすることでアミーゴ<%= image_tag "amigo-icon.png", class:"amigo-icon" %>を獲得できます。<br>
         ただし、おしゃべりの内容によってアミーゴ獲得数は変わります。ポジティブな内容なら＋１アミーゴ！ ネガティブな内容ならー１アミーゴです。<br>
         「 しゃべってみる 」のボタンからおしゃべりを開始しましょう。
      </p>
    </div>
    <div class="main-chat-header">
        <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "user-nickname" %>
        <%= link_to "ユーザーニックネームさん", user_path(current_user.id), class: "user-nickname" %> <%#ここに２人目のユーザーを紐づける%>
      <%= form_with url: "/chats", method: :post, id: "form" do |form| %>
        <div class="main-chat-form">
          <%= form.text_field :content, id: "form_text"%>
          <%= form.submit 'しゃべってみる', id: "submit" %>
        </div>
      <% end %>
    </div>
    <div class="amigo-space">
      <%=image_tag "amigo-icon.png", class:"amigoicon" %>
      <div class="amigo-graph"></div>
    </div>

    <div class="contents-area" id="contents_area">
    </div>

    <% @chats.each do |chat| %>
    <div class="main-chat-detail">
      <%= chat.content %>
    </div>
    <% end %>

    <div class="room-btn">
      <p>話題をしぼる→
        <%= link_to 'ルームをつくる', new_room_path, class:"create-room" %>
        <%= link_to 'ルーム一覧', rooms_path, class:"room-index" %>
      </p>
    </div>
</div>
</div>
<%= render "shared/footer" %>