<%= render "shared/header" %>

<div class="container">
  <div class="main-chat">

    <h2>メインチャットへようこそ</h2>

      <div class="explain">
        <%= form_with model: @chat,id:"form" do |f| %>
          <div class="main-chat-form">
            <%= f.text_field :content %>
            <%= f.submit 'しゃべってみる' %>
          </div>
        <% end %>

        <p class="get-amigo">
          ポジティブな発言なら１アミーゴ<%= image_tag "amigo-icon.png", class:"amigo-icon" %>増えるよ！<br>
          ネガティブな発言なら１アミーゴ<%= image_tag "amigo-icon.png", class:"amigo-icon" %>減るよ。
        </p>
      </div>

      <div class="chat-wrapper">
        <div id='chats' class="chat-space">
          <% @chats.reverse_each do |chat| %>
            <div class="main-chat-detail"><%= chat.content %></div>
          <% end %>
        </div>

        <div class="amigo-parent">
          <div class="amigo-space"><%=image_tag "amigo-icon.png", class: "amigoicon" %></div>
          <div class="amigo-graph"><canvas id="amigograph" ></canvas></div>
          <button id="button">更新</button>
        </div>
      </div>

      <div class="room-btn">
          <%= link_to 'ルームをつくる', new_room_path, class:"c-room" %>
      </div>
  
  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>