<%= render "shared/footer" %>
<div class="container">
  <div class="main-chat">

    <h2>メインチャットへようこそ</h2>
      <div class="get-amigo-explain">
        <p class="get-amigo">
          チャットをすることでアミーゴ<%= image_tag "amigo-icon.png", class:"amigo-icon" %>を獲得できます。<br>
          こちらではアミーゴがどのように獲得できるかを試せます。<br>
          チャットの発言内容が、ポジティブなら＋１アミーゴ！ ネガティブな内容ならー１アミーゴとなります。
        </p>
        <%= image_tag "mr-amigo.png" %>
      </div>

      <div class="main-chat-header">
          <%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "user-nickname" %>
          <%= link_to "ゲストさん", user_path(current_user.id), class: "user-nickname" %>
        <%= form_with model: @chat,id:"form" do |f| %>
          <div class="main-chat-form">
            <%= f.text_field :content %>
            <%= f.submit 'しゃべってみる' %>
          </div>
        <% end %>
      </div>

        <div class="amigo-space"><%=image_tag "amigo-icon.png", class: "amigoicon" %></div>
        <div class="amigo-graph"><canvas id="amigograph" ></canvas></div>

      <div id='chats'>
        <% @chats.reverse_each do |chat| %>
          <div class="main-chat-detail"><%= chat.content %></div>
        <% end %>
      </div>

      <div class="room-btn">
        <p>話題をしぼる→
          <%= link_to 'ルームをつくる', new_room_path, class:"c-room" %>
          <%= link_to 'ルーム一覧', rooms_path, class:"room-index" %>
        </p>
      </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>