<div class="container">
  <div class="introduce">
    <h1>Amigo</h1>
    <p>誰もが日常でamigoを体験できるアプリ</p>
    
    <footer class='top-page-footer'>
      <div class='nav'>
        <ul class='lists'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <li><%= link_to 'メインチャットへ', chats_path, class: "main-chat" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
      <div class='tag'>
        <%#ここにロゴ入れます= link_to image_tag("#", class:"furima-icon"), "/" %>
      </div>
    </footer>
  </div>
</div>