<div class="container">
  <div class="create-room">

    <h2>好きな話題でルームチャットをつくろう</h2>

    <%= form_with model:@room, local: true do |form| %>
      <div class="create-room-form">
        <h4>どんな話題でしゃべる？</h4>
          <%= form.text_field :title, placeholder: '話題のタイトル' %>
      </div>
      <div class="create-room-form">
        <h4>誰としゃべる？</h4>
        <select name="room[user_ids][]">
          <option value="">おしゃべり仲間を探す</option>
            <% User.where.not(id: current_user.id).each do |user| %>
              <option value=<%= user.id %>><%= user.nickname %></option>
            <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
      <div class="create-room-form">
        <%= form.submit 'ルームをつくる' %>
      </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer" %>